infra/pipelines/build_L0_coverage.json
{
    "StartAt": "Identify Input Files",
    "States": {
        "Identify Input Files": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.data.lambdaresult",
            "OutputPath": "$.data.lambdaresult.Payload.body",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:ap-southeast-2:288871573946:function:identify_instrument_files:$LATEST",
                "Payload": {
                    "src-instrument-location.$": "$.src-instrument-location",
                    "src-las-location.$": "$.src-las-location",
                    "src-shp-location.$": "$.src-shp-location",
                    "pattern.$": "$.pattern",
                    "coverage-file.$" : "$.coverage-file",
                    "start.$" : "$.start",
                    "end.$" : "$.end"
                }
            },
            "Next": "Build Coverage"
        },
        "Build Coverage": {
            "Type": "Map",
            "InputPath": "$.instrument-files",
            "ItemsPath": "$.instrument-file",       
            "ResultPath":"$.previous",
            "OutputPath" :"$.instrument-files",     
            "MaxConcurrency": 10,
            "Iterator": {
                "StartAt": "Instrument To LAS",
                "States": {
                    "Instrument To LAS": {
                        "Type": "Task",
                        "ResultPath":"$.previous",
                        "OutputPath" :"$.['s3_dest_las','s3_dest_shp']",
                        "Resource": "arn:aws:states:::ecs:runTask.sync",
                        "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${aws_ecs_cluster_arn}",
                            "TaskDefinition": "${aws_ecs_task_definition_mbsystem_arn}",
                            "NetworkConfiguration": {
                                "AwsvpcConfiguration": {
                                    "AssignPublicIp": "ENABLED",
                                    "SecurityGroups": [
                                        "${aws_ecs_task_definition_caris_sg}"
                                    ],
                                    "Subnets": [
                                        "${aws_ecs_task_definition_caris_subnet}"
                                    ]
                                }
                            },
                            "Overrides": {
                                "ContainerOverrides": [
                                    {
                                        "Name": "app",
                                        "Command": [
                                            "./convert-to-las.sh"
                                        ],
                                        "Environment": [
                                            {
                                                "Name": "INPUT_FILE",
                                                "Value.$": "$.s3_src_instrument"
                                            },
                                            {
                                                "Name": "DESTINATION_FILE",
                                                "Value.$": "$.s3_dest_las"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "Next": "LAS To Polygon",
                        "TimeoutSeconds": 60000
                    },
                    "LAS To Polygon": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::ecs:runTask.sync",
                        "ResultPath":"$.Containers.ExitCode",
                        "Parameters": {
                            "LaunchType": "FARGATE",
                            "Cluster": "${aws_ecs_cluster_arn}",
                            "TaskDefinition": "${aws_ecs_task_definition_pdal_arn}",
                            "NetworkConfiguration": {
                                "AwsvpcConfiguration": {
                                    "AssignPublicIp": "ENABLED",
                                    "SecurityGroups": [
                                        "${aws_ecs_task_definition_caris_sg}"
                                    ],
                                    "Subnets": [
                                        "${aws_ecs_task_definition_caris_subnet}"
                                    ]
                                }
                            },
                            "Overrides": {
                                "ContainerOverrides": [
                                    {
                                        "Name": "pdal",
                                        "Command": [
                                            "./create-extent-coverage.sh"
                                        ],
                                        "Environment": [
                                            {
                                                "Name": "INPUT_FILE",
                                                "Value.$": "$.s3_dest_las"
                                            },
                                            {
                                                "Name": "DESTINATION_FILE",
                                                "Value.$": "$.s3_dest_shp.Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "End": true,
                        "TimeoutSeconds": 60000
                    }
                }
            },
            "Next": "Merge Polygons"
        },
        "Merge Polygons": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${aws_ecs_cluster_arn}",
                "TaskDefinition": "${aws_ecs_task_definition_gdal_arn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "AssignPublicIp": "ENABLED",
                        "SecurityGroups": [
                            "${aws_ecs_task_definition_caris_sg}"
                        ],
                        "Subnets": [
                            "${aws_ecs_task_definition_caris_subnet}"
                        ]
                    }
                },
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "app",
                            "Command": [
                                "./merge_polygon.py"
                            ],
                            "Environment.$": "$..[?(@.Name)]"
                        }
                    ]
                }
            },
            "End": true
        }
    }
}